
.element-hover {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.element-hover:hover {
    transform: translateY(-4px);
    box-shadow:
            0 10px 25px -5px rgba(0, 0, 0, 0.1),
            0 8px 10px -6px rgba(0, 0, 0, 0.05);
}


.list {
    max-height: 465px;
    overflow-y: scroll;
}

.progress {
    height: 5px;
}

.progress-bar {
    width: 85%;
}